<h1> {{title}}</h1>
<nav>
  <ul>
    <li><a routerLink="/heroes">Heroes</a></li>
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li><a routerLink="/detail">Detail</a></li>
    <li><a routerLink="/application">Aplication</a></li>
    <li><a routerLink="/video">Video</a></li>
  </ul>
</nav>
<div class="my-angular">
  <router-outlet></router-outlet>
</div>

<!-- <section class="content" 
  (click)="onContentClick($event)"
  (mousedown)="onContentMouseDown($event)"
  (mouseup)="onContentMouseUp($event)"
>
  <input type="text"
    (click)="onInputClick($event)"
    (mousedown)="onInputMouseDown($event)"
    (mouseup)="onInputMouseUp($event)"
  >
</section> -->
